<div class="row">
<div class="col-sm-2"></div>
<div class="thread col-sm-8 col-xs-12">
	<div class="reply_box">
		<form class="form-inline" role="form">
			<input name="tier" type="hidden" value="0">
			<input  name="username" class="form-control" type="text" placeholder="Username">
			<input  name="gif_url" class="form-control" type="text" placeholder="Gif URL">
		</form>
		<div class="input-group">
		    <textarea class="form-control custom-control" rows="3" style="resize:none" placeholder="Comment..."></textarea> <span class="reply_send_btn input-group-addon btn btn-primary">Submit <i class="fa fa-paper-plane-o"></i></span>
		</div>
	</div>

	<% @comments.each do |comment| %>
		<%= comment.comment_html %>
	<% end %>
</div>
<div class="col-sm-2"></div>
		<script>
			$(".enlarge_btn").click(function(){
				var x = $(this);
				$(this).parent().parent().parent().parent().children(".gif_box").toggle("fast",function(){	
					if(x.html() === "Enlarge <i class=\"fa fa-search-plus\"></i>"){
						x.html("Shrink <i class=\"fa fa-search-minus\"></i>");
					}else{
						x.html("Enlarge <i class=\"fa fa-search-plus\"></i>");
					}
				});
			});
			$(".replay_btn").click(function(){
				var x = $(this);
				$(this).parent().parent().parent().parent().children(".reply_box").toggle("fast",function(){	
					if(x.html() === "Replay <i class=\"fa fa-share\"></i>"){
						x.html("NVM");
					}else{
						x.html("Replay <i class=\"fa fa-share\"></i>");
					}
				});
			});
			$(".reply_send_btn").click(function(){
				var json = {};
				json.data = $(this).parent().children("textarea").val();
				json.tier = $(this).parent().parent().children("form").children("input[name='tier']").val();
				json.username = $(this).parent().parent().children("form").children("input[name='username']").val();
				json.gif_url = $(this).parent().parent().children("form").children("input[name='gif_url']").val();
				$.post("/create_comment",json,function(){
					window.location.reload();
				});
			});
		</script>