nav{
	display:inline-block;
	vertical-align:top;
	width:25;
}
.column{
	display:inline-block;
	vertical-align:top;
	width:75;
}
.thread{
	margin-left: 2em;
	margin-right:2em;
}
.thumb_gif{
	width:100%;
}
.img_box{
	display:inline-block;
	vertical-align:top;
	width:300px;
}
.comment_box{
	vertical-align:top;
}
.comment_box h4{
	margin-top: 0;
}
.reply_box{
	margin-top: 1em;
	margin-bottom: 1em;
}
.reply_box form{
	margin-bottom: 1em;
}
p{
	font-size: 20px;
}
.input-group-addon{
	background-color: #428bca;
	border: #357ebd;
	color: white;
}